* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.img-content {
  background-image: url("../img/img1.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center; }
  .img-content .main__title {
    font-family: "Poppins", sans-serif;
    margin-top: -10%;
    font-weight: bold;
    width: 100%;
    color: #2f3e44; }
    .img-content .main__title h1 {
      width: 80%;
      margin: auto;
      color: white;
      font-size: 4.2rem;
      line-height: 145%;
      border-radius: 19px;
      padding: .3em .5em;
      font-weight: 600;
      background: #0202029e;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.title-info {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 1em 0;
  font-size: 20px;
  font-weight: bold; }

.list-group {
  color: #736464;
  line-height: 140%; }

.divide-line {
  margin: 10em 0 1em 0; }

.info-org {
  padding: 6em 0;
  color: black;
  background: white; }
  .info-org .custom-card {
    background-color: white;
    color: #232323;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .info-org .custom-card .card-bd {
      min-height: 400px;
      padding: 2em; }
      .info-org .custom-card .card-bd .img-container {
        position: relative;
        width: 50%;
        margin: auto;
        display: block;
        height: 85px; }
        .info-org .custom-card .card-bd .img-container img {
          position: absolute;
          top: -95px;
          border-radius: 50%;
          padding: 5px;
          border: 1px solid #e7f6e6; }

.my-4 {
  margin: 3em 0; }

.card-direction {
  padding: 6em 0;
  text-align: center; }

.contact-content {
  padding: 6em 0; }
  .contact-content h1 {
    margin-bottom: 1em; }

.footer-content {
  font-family: "Rubik", sans-serif;
  background-color: #223c42;
  color: white;
  padding: 1em;
  font-size: 15px;
  line-height: 130%; }

.footer_grid {
  margin: 10px 0; }

.start__now {
  width: 70%;
  margin: auto;
  display: flex;
  min-height: 44%;
  height: 44%; }

.form__content {
  padding: 3em;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.form-control {
  height: 2.5em; }

.form-to-send {
  margin: 5em 0; }

.textarea {
  height: 6.7em !important; }

.sosial__network {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sosial__network a {
    color: white; }
    .sosial__network a i {
      margin: 5px;
      font-size: 50px;
      cursor: pointer; }

.facebook__icon:hover {
  color: #80d8ff; }

.twitter__icon:hover {
  color: #03a9f4; }

.instagram__icon:hover {
  color: #e91e63; }

.modal__custom {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000a1; }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 3em 20px;
  width: 60%;
  border-radius: 10px; }
  .modal-content h4 {
    font-weight: bold; }

/* The Close Button */
.close-modal {
  width: 150px;
  margin: auto; }
  .close-modal:hover, .close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

.btn-primary {
  width: 150px;
  margin: auto;
  display: block !important; }

@media only screen and (max-width: 600px) {
  .img-content .main__title h1 {
    width: 80%;
    font-size: 30px; }
  .info-org h2 {
    font-size: 30px; }
  .info-org .custom-card .card-bd {
    margin: 3em 0; }
  .card-direction {
    padding: 3em 0; }
    .card-direction .display-4 {
      font-size: 30px; }
  .contact-content h1 {
    font-size: 30px; }
  .form__content {
    padding: 2em 1em; }
  .start__now {
    display: none; }
  .footer_grid {
    text-align: center; }
  .divide-line {
    margin: 3em 0 1em 0; }
  .modal-content {
    width: 90%; }
    .modal-content h4 {
      font-size: 20px; }
    .modal-content h5 {
      font-size: 16px; } }

.nav-bar-header {
  box-shadow: 1px 0px 12px;
  background-color: white;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0; }

nav {
  box-shadow: none !important;
  background: white !important; }
  nav .nav__wrapper {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav .nav__wrapper a {
      color: #2f3e44; }
    nav .nav__wrapper .bran__img {
      width: 70px;
      cursor: pointer; }

body {
  font-family: "Nunito", sans-serif;
  background: white; }

.form-control {
  margin: 1em 0; }

.btn-send-message {
  width: 100%;
  margin: 1em 0;
  background: #2f3e44 !important;
  border-radius: 25px !important;
  font-weight: bold; }
