
<section class="container-page">
  <div class="nav-bar-header">
    <div class="container">
      <nav>
        <div class="nav__wrapper"><img class="bran__img" src="./img/logo.png" alt="" srcset=""/>
          <ul class="right hide-on-med-and-down" id="nav-mobile">
            <li><a data-scroll="data-scroll" href="#inicio">Inicio</a></li>
            <li><a data-scroll="data-scroll" href="#beneficios">Beneficios</a></li>
            <li><a data-scroll="data-scroll" href="#locaction">Donde estamos</a></li>
            <li><a data-scroll="data-scroll" href="#contacto">Contactanos</a></li>
          </ul>
          <ul class="sidenav" id="slide-out">
            <li><a data-scroll="data-scroll" href="#inicio">Inicio</a></li>
            <li><a data-scroll="data-scroll" href="#beneficios">Beneficios</a></li>
            <li><a data-scroll="data-scroll" href="#locaction">Donde estamos</a></li>
            <li><a data-scroll="data-scroll" href="#contacto">Contactanos</a></li>
          </ul><a class="sidenav-trigger" data-target="slide-out"><i class="fas fa-bars"></i></a>
        </div>
      </nav>
    </div>
  </div>
  <div class="img-content" id="inicio">
    <div class="main__title">
      <h1>Termina tu prepa y empieza a cumplir tus sueños</h1>
    </div>
  </div>
  <div class="info-org" id="beneficios">
    <div class="container">
      <h2 class="center-align">Termina tu prepa en 6 meses</h2>
      <div class="row divide-line">
        <div class="col s12 m6 l3">
          <div class="custom-card">
            <div class="card-bd">
              <div class="img-container"><img src="./img/money.svg" alt=""/></div>
              <h4 class="title-info">Costos muy accesibles</h4>
              <div class="list-group">
                <p>
                  No te preocupes por los altos costos de otras instituciones, en PEC desarrollamos una metodologia para que nuestros estudiantes no pagen altas cantidades y puedan pagar a un costo accesible.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="custom-card">
            <div class="card-bd">
              <div class="img-container"><img src="./img/elementary.svg" alt=""/></div>
              <h4 class="title-info">Capacitaciones ilimitadas</h4>
              <div class="list-group">
                <p>Sabemos que usualmente los alumnos tienen dificultades en algunas materias, no te preocupes, con nuestras capacitaciones ilimitadas en matemáticas y física, tendrás la oportunidad de acudir las veces que necesites al plantel para regularizarte en estas materias.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="custom-card">
            <div class="card-bd">
              <div class="img-container"><img src="./img/professor.svg" alt=""/></div>
              <h4 class="title-info">Maestros especializados</h4>
              <div class="list-group">
                <p>Contamos con profesores altamente capacitados, cada uno con una amplia experiencia como docentes y comprometidos con tu aprendizaje.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="custom-card">
            <div class="card-bd">
              <div class="img-container"><img src="./img/hourglass.svg" alt=""/></div>
              <h4 class="title-info">Facilidad de horario</h4>
              <div class="list-group">
                <p>Sabemos lo complicado que puede ser realizar múltiples actividades al día, por eso, contamos con horarios sumamente flexibles que te permiten cumplir con tus actividades cotidianas y estudiar. SI NO HAS TERMINADO LA PREPA ES POR QUE NO TE LO HAZ PROPUESTO, no esperes más y contáctanos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="direction-content" id="locaction">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card-direction">
            <h1 class="display-4">Donde nos encontramos</h1>
            <p class="lead">Dirección: Av prados #23 (a un costado de las letras de Izcalli y a dos cuadras de plaza jardines) Tultitlán.</p><br/><strong class="lead">Tel:  7313-5996</strong>
            <hr class="my-4"/>
            <button class="btn btn-primary btn-lg grey darken-4">Enviar Mensjae</button>
          </div>
        </div>
        <div class="col s12"><img src="./img/pec-ma.png" alt="" style="width:100%; border-radius: 15px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)"/></div>
      </div>
    </div>
  </div>
  <div class="contact-content" id="contacto">
    <div class="container">
      <h1 class="center-align">No te quedes con las ganas, da el primer paso.</h1>
      <div class="row">
        <div class="col s12 m12 l5">
          <h5 class="center-align">No dejes para mañana lo que puedas hacer hoy, termina tu prepa en 6 meses.</h5><img class="start__now" src="./img/graduation.svg" alt="Termina tu prepa en un examen"/>
        </div>
        <div class="col s12 m12 l7">
          <div class="form__content">
            <form>
              <div class="row">
                <div class="input-field col s12">
                  <input id="disabled" placeholder="" type="text"/>
                  <label>Nombre Completo</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="" type="text"/>
                  <label>Correo</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" placeholder="" type="text"/>
                  <label>Numero de celular</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea class="materialize-textarea textarea" placeholder="" type="text"></textarea>
                  <label>Mensaje</label>
                </div>
              </div>
              <button class="btn btn-primary btn-send-message" id="send-form" type="submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col s12 m2 l4 center-align footer_grid">
          <div class="card-body">
            <p class="card-title">PEC</p>
            <p class="card-text">Terminos y condiciones</p>
          </div>
        </div>
        <div class="col s12 m4 l4 footer_grid">
          <div class="row center-left">
            <div class="col s4">
              <div class="card-body">
                <p class="card-title">Empresa</p>
                <p class="card-subtitle mb-2 text-muted">Nosotros</p>
                <p class="card-text">Únete al equipo</p>
              </div>
            </div>
            <div class="col s4">
              <div class="card-body">
                <p class="card-title">Recursos</p>
                <p class="card-subtitle mb-2 text-muted">Soporte</p>
                <p class="card-text">Aviso de Privacidad</p>
              </div>
            </div>
            <div class="col s4">
              <div class="card-body">
                <p class="card-title">Contacto</p>
                <p class="card-subtitle mb-2 text-muted">7313-5996</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4 footer_grid">
          <div class="card-body">
            <p class="card-title center-align">Siguenos en nuestras redes sociales</p>
            <div class="sosial__network"><a target="_blank" href="https://www.facebook.com/Programa-Educativo-De-Capacitaci%C3%B3n-Pec-169217920545929/?modal=admin_todo_tour"><i class="fab fa-facebook-square facebook__icon"></i></a><a target="_blank" href="https://www.facebook.com/Programa-Educativo-De-Capacitaci%C3%B3n-Pec-169217920545929/?modal=admin_todo_tour"><i class="fab fa-twitter-square twitter__icon"></i></a><a target="_blank" href="https://www.facebook.com/Programa-Educativo-De-Capacitaci%C3%B3n-Pec-169217920545929/?modal=admin_todo_tour"><i class="fab fa-instagram instagram__icon"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__custom" id="myModal">
    <div class="modal-content">
      <div id="modalContent">
        <h4 class="center-align">Bien hecho, has dado el primer paso para cumplir tus metas.</h4>
        <h5 class="center-align">Nos comunicaremos contigo lo mas proto posible.</h5>
      </div>
      <button class="btn btn-primary close-modal">aceptar</button>
    </div>
  </div>
</section>