
<div class="nav-bar-header">
  <div class="container">
    <nav>
      <div class="nav__wrapper"><img class="bran__img" src="./img/pec.png" alt="" srcset=""/>
        <ul class="right hide-on-med-and-down" id="nav-mobile">
          <li><a href="autor.html">Inicio</a></li>
          <li><a href="resumen.html">Nosotros</a></li>
          <li><a href="preguntas.html">Contactanos</a></li>
          <li><a href="bibliografia.html">Material</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>