
<div class="nav-bar-header">
  <div class="container">
    <nav>
      <div class="nav__wrapper"><img class="bran__img" src="./img/pec.png" alt="" srcset=""/>
        <ul class="right hide-on-med-and-down" id="nav-mobile">
          <li><a data-scroll="data-scroll" href="#inicio">Inicio</a></li>
          <li><a data-scroll="data-scroll" href="#beneficios">Beneficios</a></li>
          <li><a data-scroll="data-scroll" href="#locaction">Donde estamos</a></li>
          <li><a data-scroll="data-scroll" href="#contacto">Contactanos</a></li>
        </ul>
        <ul class="sidenav" id="slide-out">
          <li><a data-scroll="data-scroll" href="#inicio">Inicio</a></li>
          <li><a data-scroll="data-scroll" href="#beneficios">Beneficios</a></li>
          <li><a data-scroll="data-scroll" href="#locaction">Donde estamos</a></li>
          <li><a data-scroll="data-scroll" href="#contacto">Contactanos</a></li>
        </ul><a class="sidenav-trigger" data-target="slide-out"><i class="fas fa-bars"></i></a>
      </div>
    </nav>
  </div>
</div>